@import "../../scss/variables";


.button{
  cursor: pointer;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  border-radius: 10px;
}
.submit{
  border: 1px solid  $green;
  transition: background-color .4s, color .4s;
  &:hover{
    background-color: $green;
    color: white;
  }
  &:active{
    background-color: $green;
    opacity: 0.8;
  }
  &:disabled{
    border: 1px solid rgba(128, 128, 128, 0.55);
    color:  rgba(128, 128, 128, 0.55);
    &:hover{
      background-color: inherit;
    }
  }
}

.reset{
  border: 1px solid $red;
  transition: background-color .4s, color .4s;
  &:hover{
    background-color: $red;
    color: white;
  }
  &:active{
    background-color: $red;
    opacity: 0.8;
  }
}
