.form{
  &__wrapper{
    width: 40%;
    position: relative;
  }

  &__title{
    margin: 0;
    text-align: left;
    font-weight: 500 ;
    font-size: 20px;
  }

  &__input{
    width: 100%;
    border: 0;
    padding: 15px 10px 10px 15px;
    outline: none;
    border-radius: 0;
    font-size: 20px;
    border-bottom: 1px solid darkgrey;
    transition: border-color .3s ;
    &:focus{
      border-color:#3d61ef;
    }
  }


  &__placeholder{
    font-weight: 500 ;
    pointer-events: none;
    display: block;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 15px;
    color: darkgrey;
    transform-origin: left;
    transition: top .3s, transform .3s, color .3s ;
  }

  &__error{
    font-weight: 300 ;
    top:38px;
    position: absolute;
    text-align: left;
    color: red;
    font-size: 14px;
    &-date{
      top:65px;
    }
  }

  &__helpName{
    width: 90%;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    border: 1px solid #ffffff;
    z-index: 1;
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    padding: 10px;
    padding-left: 20px;
    border-radius: 5px;
  }

  &__wrapper-checkbox{
    padding: 10px 10px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 5px;
    transition: background-color .3s;
    &:hover{
      background-color: rgba(0, 0, 255, 0.12);
    }
  }

  &__checbox{
  position: absolute;
    appearance: none;
  }
  &__customChecbox{
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid blue;
    position: relative;
      display: flex;
    align-items: center;
  }
  &__checkMark{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 70%;
    height: auto;
    display: none;
  }

  &__checbox:checked + &__customChecbox &__checkMark{
    display: block;
  }


  &__helpNameItem{
    list-style-type: none;
    &:hover{
      color:#3d61ef ;
    }
  }

  &__input:focus+&__placeholder
  {
    top: -15px;
    transform: scale(.85);
    color: #3d61ef;
  }

  &__wrapper:focus-within &__title
  {
     color: #3d61ef;
  }

  &__input.changed+&__placeholder
  {
    top: -15px;
    transform: scale(.85);
    color: #3d61ef;
  }

}


@media (max-width: 700px) {
  .form{
    &__wrapper{
      width: 80%;
    }
  }

}



