@import "../../scss/variables";

.addClient{
  margin: 40px 0;
  max-width: 1000px;
  background-color: white;
  padding: 50px 50px;
  border-radius: 15px;
  box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.form{
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: space-around;
  align-items: center;
  &__name {
    font-size: 25px;
    color: $green;
    margin-bottom: 50px;
  }
  &__buttons{
    gap: 35px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

}

@media (max-width: 620px) {
  .addClient{
    padding: 40px 25px;
  }
}

@media (max-width: 590px)  {
  .form {
    &__buttons{
      gap: 8px
    }
  }
}

@media (max-width: 520px)  {
  .form {
    &__buttons{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }
}
@media (max-width: 400px)  {
  .addClient {
    margin: 0;
    border-radius: 0;
  }

}
